.carousel-img:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%;
   height:100%;
  display:inline-block;
  
  background: linear-gradient(to right, rgb(21, 21, 21) 0%,rgba(21, 21, 21, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.carousel-img {
  object-fit: fill;
 
  
}
.carousel-img img {
  object-fit: cover;
    background-size: contain;
     height: 500px;
  
}
